# --- RabbitMQ ---
APP_NOTIFICATION_MQ_ENABLED=true
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/

# --- Qdrant ---
QDRANT_HOST=localhost
QDRANT_PORT=6444
QDRANT_API_KEY=


# --- Recommend LLM ---
RECOMMEND_LLM_BASE_URL=https://api.runpod.ai/v2/<RUNPOD_ENDPOINT_ID>/openai/v1
RECOMMEND_LLM_API_KEY=<RUNPOD_API_KEY>
RECOMMEND_LLM_MODEL=Qwen/Qwen2.5-32B-Instruct-AWQ


# --- Report LLM ---
REPORT_LLM_BASE_URL=https://api.runpod.ai/v2/<RUNPOD_ENDPOINT_ID>/openai/v1
REPORT_LLM_API_KEY=<RUNPOD_API_KEY>
REPORT_LLM_MODEL=Qwen/Qwen2.5-32B-Instruct-AWQ

# --- VLM CONFIGURATION ---
VLM_BASE_URL=
VLM_API_KEY=
VLM_MODEL=

# --- Gemini API KEY ---
GOOGLE_API_KEY=
GEMINI_MODEL=