#[VLM CONFIGURATION]
VLM_BASE_URL=
VLM_API_KEY=
VLM_MODEL=

# RabbitMQ
APP_NOTIFICATION_MQ_ENABLED=true
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/
RABBITMQ_URL=

#Gemini API KEY
GOOGLE_API_KEY=
GEMINI_MODEL=